[submodule "deps/pptxgenjs"]
	path = deps/pptxgenjs
	url = git@github.com:ExponentGmbH/PptxGenJS.git
[submodule "deps/drawio"]
	path = deps/drawio
	url = https://github.com/jgraph/drawio.git
[submodule "cow-workspace"]
	path = cow-workspace
	url = git@github.com:ExponentGmbH/cow-workspace.git
